<div class="m-5">
  <p-button label="Add Transaction" outlined raised (click)="showDialog()" />
</div>

<div class="card flex justify-center">
  @if(visible){
  <app-transactions-dialog
    [transaction]="selectedTransaction"
    [categoryOptions]="categories"
    (save)="saveTransaction($event)"
    (create)="createTransaction($event)"
    [userId]="userId"
    [visible]="visible"
    (cancel)="visible = false"
    [accountBalance]="accountBalance"
  ></app-transactions-dialog>
  }
</div>

<p-dialog
  header="Confirm Deletion"
  [(visible)]="confirmDialogVisible"
  [modal]="true"
  [style]="{ width: '450px' }"
>
  <div class="flex items-center justify-center p-4">
    <i class="mr-3 text-4xl text-orange-500"></i>
    <span class="text-900"
      >Are you sure you want to delete this transaction? This action cannot be
      undone.</span
    >
  </div>
  <ng-template pTemplate="footer">
    <p-button label="No" (click)="cancelDelete()" />
    <p-button label="Yes" severity="danger" (click)="confirmDelete()" />
  </ng-template>
</p-dialog>

<app-transactions-table
  [transactions]="transactions"
  [accountBalance]="accountBalance"
  (editTransaction)="showDialog($event)"
  (deleteTransaction)="showDeleteDialog($event)"
></app-transactions-table>
